<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de HQ</title>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">
    <link href="stylesheets/cadastroUsuario.css" rel="stylesheet"  />
</head>
<body>
    <header>
        <%- include('./global/header.ejs') %>
    </header>
    <main>
        <form class="formulario" action="/cadastro" method="POST">
            <div class="dados">
                <label for="nome">Digite seu nome</label>
                <input type="text" name="nome" id="nome">
                <label for="email">Digite seu email</label>
                <input type="email" name="email" id="email">
                <label for="telefone">Digite seu telefone</label>
                <input type="tel" name="telefone" id="telefone">
                <label for="senha">Crie uma senha</label>
                <input type="password" name="senha" id="senha">
                <label for="confirmaSenha">Confirme sua senha</label>
                <input type="password" name="confirmaSenha" id="confirmaSenha">
                <label for="nascimento">Data de nascimento</label>
                <input type="date" name="nascimento" id="nascimento">
            </div>
            <div class="desktop">
                <div class="preferencias">
                    <label>Selecione abaixo as suas preferências</label>
                    <ul class="titulos">
                        <% preferencias.forEach(item => { %>
                        <li><input type="checkbox" name="preferencias" value="<%= item.preferencias %>" id="pr<%= item.id%>"><label for="pr<%= item.id%>"> <%= item.preferencias %> </label></li>
                        <% }) %>
                    </ul>
                </div>
                <div class="botoes">
                    <button class="botao" type="reset">Limpar</button>
                    <button class="botao" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <%- include('./global/footer.ejs') %> 
    </footer>
 