<%- include('./global/header.ejs') %>
    <link href="/stylesheets/comicpage.css" rel="stylesheet"/>
    <!-- CABEÇALHO -->
    <header>
        <!-- <span src="">Logo</span>
        <nav>
            <img id="hamburguer" class="crtl_user"src="/images/hamburguer.png"/>
            <img id="profile" class="crtl_user"src="/images/profile.png"/>
        </nav> -->
    </header>
     <!-- FIM CABEÇALHO -->

    <!-- CORPO -->
    <main>
        <!-- Capa da HQ e botões de ação -->
        <div class="exibicao">
            <img src='/<%= comic.capa %>' />
            <img src='/<%= comic.capa %>' />
            <img src='/<%= comic.capa %>' />
        </div>
        <button class="interagir" type="button" >Ler</button>
        <button class="interagir" type="button">Download</button>
        
        <button class="interagir" type="button">curtir</button>
        <button class="interagir" type="button">compartilhar</button>
        <!-- Fim Capa da HQ e botões de ação -->

        <!-- Sinópse -->
        <section>
            <h1>Nesta edição</h1>
            <p id="sinopse">
                <%= comic.sinopse%>
            </p>
            <p id="ano-edicao">Ano de edição - <%= comic.ano %></p>
        </section>
        <!-- Fim Sinópse -->

        <!-- Informações técnicas -->    
        <section class="informacoes-tecnicas">
            <h2>Informações técnicas</h2>
            <table>
                <th>
                    <tr>
                        <td>autor</td>
                        <td><%= comic.autor%></td>
                    </tr>
                </th>
                <tr>
                    <td>ano de edição</td>
                    <td><%= comic.ano %></td>
                </tr>
                <tr>
                    <td>autor</td>
                    <td><%= comic.autor%></td>
                </tr>
                <tr>
                    <td>ano de edição</td>
                    <td><%= comic.ano%></td>
                </tr>
            </table>
        </section>
        <!-- Fim informações técnicas -->

        <!-- Antevisão -->
        <section class="antevisao">
            <h2>Antevisão</h2>
            <div>
            <% const antevisao = JSON.parse(comic.antevisao) %>
            <% antevisao.forEach(elem => { %>
                <img src=<%= elem %> />
            <% }) %>
                <!-- <img src=<%= comic.antevisao[1] %> />
                <img src=<%= comic.antevisao[2] %> /> -->
            </div>
        </section>
        <!-- Fim antevisão-->

        <!-- Títulos semelhantes-->
        <section class="titulos-semelhantes">
            <h2>Títulos semelhantes</h2>
            <div>
                <img src="/images/hq.png"/>
                <img src="/images/hq.png"/>
                <img src="/images/hq.png"/>
                <img src="/images/hq.png"/>
            </div>
        </section>
        <!-- Fim títulos semelhantes -->
    </main>
    <!-- FIM CORPO -->

    <!-- FOOTER -->
    <%- include('./global/footer.ejs') %>
    <!-- FIM FOOTER -->

